/* GLOBAL */

@keyframes blink {
    0%   {color: black;}
    50%  {color: #d43636;}
    100% {color: black;}
}

@-webkit-keyframes blink {
    0%   {background-color: black;}
    50%  {background-color: #d43636;}
    100% {background-color: black;}
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* APP */

#app {
  width: 980px;
  background-color: #DDDDDD;
  padding-top: 50px;
  padding-bottom: 20px;
}

#clock {
  display: inline-block;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 87px;
  line-height: 87px;
  text-align: center;
}

#morning, #evening {
  display: inline-block;
  width: 250px;
  text-align: center;
}

#morning {
  margin-left: 20px;
}

#evening {
  margin-right: 20px;
}

.up, .down {
  width: 120px;
}

.up > *, .down > * {
  cursor: pointer;
  display: inline-block;
}

.up .hour, .down .hour {
  margin-right: 23px;
}

.up .sec, .down .sec {
  margin-left: 23px;
}

.time {
  font-size: 30px;
  width: 120px;
}

.wrapper {
  width: 120px;
  margin: 0 auto;
}

.warning { /* Red flashing animation */
  animation: blink 1s infinite;
  -webkit-animation: blink 2s infinite;
}

/* LABELS AND WARNINGS */

#morningtext, #eveningtext {
  width: 250px;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

#alarmstatus {
  width: 400px;
  display: inline-block;
  margin-left: 20px;
  text-align: center;
}

#help * {
  text-align: center;
  margin-top: 10px;
}
