/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* APP */

#app {
  width: 980px;
  background-color: #DDDDDD;
  padding-top: 50px;
  padding-bottom: 50px;
}

#clock {
  display: inline-block;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 87px;
  line-height: 87px;
  text-align: center;
}

#morning, #evening {
  display: inline-block;
  width: 250px;
  text-align: center;
}

#morning {
  margin-left: 20px;
}

#evening {
  margin-right: 20px;
}

.up, .down {
  width: 120px;
}

.up > *, .down > * {
  cursor: pointer;
  display: inline-block;
}

.up .hour, .down .hour {
  margin-right: 23px;
}

.up .second, .down .second {
  margin-left: 23px;
}

.time {
  font-size: 30px;
  width: 120px;
}

/* LABELS AND WARNINGS */

#morningtext {
  width: 250px;
  display: inline-block;
}

#alarminfo {
  width: 400px;
  display: inline-block;
}

#eveningtext {
  width: 250px;
  display: inline-block;
}

#help {
  text-align: center;
}
